<!-- footer Start -->
<footer>
  <div class="container">
    <p style="text-align: center;">主催: Space Apps Challenge Kushimoto 実行委員会</p>
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">ホーム</a></li>
            <!-- <li><a href="{{ site.baseurl }}/blog">ブログ</a></li> -->
            <li><a href="{{ site.baseurl }}/schedule">スケジュール</a></li>
            <li><a href="{{ site.baseurl }}/access">アクセス</a></li>
            <li><a href="{{ site.baseurl }}/sponsor">スポンサー</a></li>
            <li><a href="{{ site.baseurl }}/code-of-conduct">行動規範</a></li>
            <li><a href="{{ site.baseurl }}/contact">お問い合わせ</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Space Apps Challenge Kushimoto 実行委員会</p>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="https://api.geolonia.com/v1/embed?geolonia-api-key=SPACEAPPSKUSHIMOTO"></script>
